**/repositories/
**/actions_artifacts/
**/actions_log/
**/repo-archive/
**/avatars/
**/queues/
**/indexers/
**/sessions/
**/.ssh/
**/logs/
**/data/
**/*.pem
**/*.crt
**/*.key
**/*.env
**/*.csr
**/*.db
**/*.srl
**/*.txt











